

/* Style the links inside the navigation bar */

  
  /* Change the color of links on hover */
  .topnav {
    position: relative;
    padding: 1em;
}
  .nav-container {
    z-index: 100;
  }

  .topnav .desktop-menu a {
    
    padding: 0px 0px 0px 70px;
    text-align: center;
    text-decoration: none;
    transition: 200ms ease all;

}

.topnav .desktop-menu a:hover {
    color: #11dd99;
    text-decoration: none;

}

.mobile-menu {
  z-index: 20;
  flex-direction: column;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: linear-gradient(90deg, rgb(100, 99, 124,0.9) 0%, rgba(17,221,153,0.9) 0%, rgba(29,153,115,0.9) 100%);
  opacity: 1;
  justify-content: center;
  transition: 500ms ease all;
  text-align: center;
  padding-top: 20vh;
  transition: 500ms ease all;
 
}


.hamburger span:hover {
  color: #11dd99;
  transition: 200ms ease all;
  
}

.mobile-menu a {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 2.6;
  font-size: 2.5em;
  
}

#menu-toggle:checked + #menu {
  display: block;
}